::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .control-container-icons{
    background-color: #007bff;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .control-container-icons img{
    height: 19px;
    width: 19px;
  }
  
  .horizontal-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .space-between{
    justify-content: space-between;
  }
  .blue{
    background-color: blue;
  }
  
  .spacing{
    margin-left: 15px;
  }
  
  .text-small {
    font-size: 0.9rem;
  }

  .height-adjust{
    height: 85px ;
  }
  
  .messages-box,
  .chat-box {
    height: 510px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }